name: Frontend CI checks

on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/example.yml"
      - "README.md"
  pull_request:
    paths:
      - ".github/workflows/example.yml"
      - "README.md"

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: ${{ github.ref_name != 'main' }}

jobs:
  just-be:
    runs-on: ubuntu-latest
    steps:
      - run: sleep 50s
