name: Frontend CI checks

on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/example.yml"
  pull_request:
    paths:
      - ".github/workflows/example.yml"

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }} ${{ github.ref_name == 'main' && github.sha || '' }}
  cancel-in-progress: true

jobs:
  just-be:
    runs-on: ubuntu-latest
    steps:
      - run: sleep 30s
